$white1: #ffffff;
$white2: #f2f2f2;
$white3: #e8e8e8;
$white4: #CECECE;

$dark1: #343D42;
$dark2: #586166;
$dark3: #8D9396;
$dark4: #AEB1B2;

$black1: #000000;
$black2: #171923;
$black3: rgba($black2, 0.8);
$black4: #383838;

$primary1: #4E22FF;
$heading1: #34363F;
$heading2: #565863;
$body-text1: #5B5D67;
$caption-text1: #8C8F9F;
$divider1: #8C8F9F;
$background1: #F4F5F9;
$shadow1: #c1badf73;

$brand-color1: #4E22FF;
$brand-color2: #7735F5;
$brand-color3: #9142ED;
$brand-color3: #9243ee;

$gradient1: linear-gradient(90deg, $brand-color3 1.54%, $brand-color2 98.77%);
$gradient2: linear-gradient(119deg, #F1F3FA -3.1%, #FEFEFF 108.25%);
$gradient3: linear-gradient(90deg, $brand-color3 0%, $brand-color2 100%);
